html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

:root {
  --background: #dadbdce3;
  --black: #000000;
  --gray: #a4a4a4;
  --yellow: #ffff00;
  --pink: #eb4888;
  --blue: #84848d;
}



body {
  background-color: var(--background);
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "iA Writer Mono";
}

.container {
  width: 700px;
  max-width: 100%;
  margin: 30px auto;
  padding: 10px;
}

.header-section {
  display: grid;
  justify-items: start;
  justify-content: normal;
}


.profile-photo {
  padding: 10px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.title,
.rol,
.icons {
  grid-column-start: 2;
  grid-column-end: 3;
}

#title {
  font-size: 203%;
  color: var(--black);
  font-family: 'iA Writer Mono', monospace;
  font-style: italic;
  font-weight: bold;
  width: 24ch;
  white-space: nowrap;
  animation: typing 2s steps(12), blink 0.5s infinite step-end alternate;
  overflow: hidden;

}


#sub-title {
  font-family: 'iA Writer Mono', monospace;
  font-size: 2rem;
  font-style: italic;
  color: var(--gray);
  text-align: left;
}


.container-4 ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

/* Iconos SVG  */
.nav__toggle #openMenu,
#closeMenu {
  width: 30px;
  height: 100px;
}

/* ocultar checkbox */
#nav__checkbox {
  display: none;
}



/* ocultar svg de closeMenu y openMenu */
.nav__toggle .close,
.menu {
  display: none;
}

.links {
  margin: 20px;
  padding: 0px 12px 0px 0px;
  display: flex;
  justify-content: space-between;
  color: var(--black);
}

.btn1,
.btn2,
.btn3,
.btn4 {
  font-family: 'iA Writer Mono', monospace;
  text-decoration-thickness: 0.2ex;
  text-underline-offset: 0.5ex;
  text-decoration-color: var(--black);
  cursor: pointer;
  color: var(--gray);
}

.btn1:hover,
.btn3:hover {
  text-decoration-color: var(--black);
}

.btn2:hover,
.btn4:hover {
  text-decoration-color: var(--pink);
}


/* Texto párrafo. */
.container-5 p {
  font-family: 'iA Writer Mono', monospace;
  font-size: 20px;
  text-align: justify;
  /* separación de texto */
  line-height: 25px;

}

.separator {
  position: relative;
  margin-top: 5px;
  height: 0;
  width: 15vmin;
  border-top: 3px solid black;
  padding-top: 8px;
}

.footer {
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.text-content {
  padding: 10px;
}


/* Icons */
#logo-github,
#logo-linkedin,
#logo-cv {
  width: 40px;
  height: 40px;
}


#textName {
  font-size: 1.4rem;
  font-family: 'iA Writer Mono', monospace;
}

/* Efecto escritura título. */
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Tablets responsive */
@media only screen and (max-width:600px) {
  body {
    background-color: var(--yellow);
    width: 100%;
    max-width: 100%;

  }

  .nav__toggle {
    cursor: pointer;
    margin: 0 1rem;
    padding: 0px;
    left: 20px;
    top: 180px;
    position: absolute;
  }

  .container-4 {
    flex-direction: row;
    top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .container-4 li {
    display: none;
    list-style-type: none;

  }

  .nav__menu {
    position: relative;
    top: 0px;
    width: 90%;
  }

  .nav__menu:last-child {
    justify-content: center;
  }

  /* mostrar svg hamburger */
  .nav__toggle .menu {
    display: block;
    cursor: pointer;
    position: relative;
  }

  #nav__checkbox:checked~.container-4 li {
    display: block;
    position: relative;
  }

  #nav__checkbox:checked~.nav__toggle .menu {
    display: none;
  }

  #nav__checkbox:checked~.nav__toggle .close {
    display: block;
    position: absolute;

  }

  .profile-photo {
    padding: 0px;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }

  .profile-photo img {
    width: 150px;
    height: 150px;
    margin: auto;
    max-width: 100%;
  }

  .header-section {
    display: grid;
    grid-template-columns: repeat(1, auto);
    margin: 10px auto;
  }

  #title,
  #sub-title {
    font-size: 1.5rem;
    padding: 5px;
    margin-top: 0px;
  }

  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    font-size: 1.0rem;
  }

  .container-5 p {
    font-family: 'iA Writer Mono', monospace;
    font-size: 15px;
    text-align: justify;
    /* separación de texto */
    line-height: 1.6;
    position: relative;
    margin-top: 30px;
  }

}


/* Mobile responsive */
@media screen and (max-width: 500px) {
  body {
    background-color: var(--pink);
    padding: 0;
    margin: 0;
  }

  .container {
    width: 600px;
    max-width: 100%;
    margin: 30px auto;
  }

  .header-section {
    display: flex;
    flex-wrap: wrap;
  }

  .container-5 {
    border: 1px solid var(--black);
  }

  .container-5 p {
    font-family: 'iA Writer Mono', monospace;
    font-size: 14px;
    text-align: justify;
    /* separación de texto */
    line-height: 13px;
  }
}