*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --background: #dadbdce3;
  --black: #000000;
  --gray: #a4a4a4;
  --yellow: #ffff00;
  --pink: #eb4888;
  --blue: #84848d;
  --color1: #8e8e96;
  --color2: #2b415e;
  --color3: #a2bdd1;
}

html {
  height: 100%;
}

body {
  background-color: var(--background);
  margin-top: 0px;
  padding: 0px;
  font-family: "iA Writer Mono";
  height: 100%;
}

.container {
  width: 700px;
  margin: 0 auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "header-section header-section header-section"
    "container-4 container-4 container-4"
    "container-5 container-5 container-5"
    "separator separator separator"
    "footer footer footer";
}

.header-section {
  display: grid;
  height: 100%;
  /* definimos a que area pertenece */
  grid-area: header-section;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr auto;
  grid-template-rows: 30px auto;
  grid-template-areas:
    "profile-photo title title"
    "profile-photo subTitle subTitle "
    "profile-photo icons icons"
    /* ". nav nav "; */

}

.profile-photo {
  grid-area: profile-photo;
  padding: 2px;
  margin: 0 auto;
  height: 100%;
}

img {
  border-radius: 170px;
  max-width: 100%;
}

.title {
  grid-area: title;
  margin-top: 5px;
}

#title-1 {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-family: 'iA Writer Mono', monospace;
  font-weight: bold;
  padding-left: 3px;
  margin-top: 1px;
}

.title-world {
  animation: color-animation 4s linear infinite;
}

.title-world-1 {
  color: var(--color1);
}

.title-world-2 {
  color: var(--color2);
}

.title-world-3 {
  color: var(--pink);
}

/* Cambio de color al title */
@keyframes color-animation {
  0% {
    color: var(--color2);
  }

  32% {
    color: var(--color2);
  }

  33% {
    color: var(--color1);
  }

  65% {
    color: var(--color1);
  }

  66% {
    color: var(--color3);
  }

  99% {
    color: var(--color3);
  }

  100% {
    color: var(--color1);
  }
}

.subTitle {
  grid-area: subTitle;
  padding-left: 20px;
}

#sub-title {
  font-size: 1.7rem;
  font-family: 'iA Writer Mono', monospace;
  font-style: italic;
  color: var(--gray);
  text-align: left;
  margin-top: 10px;
}

.icons {
  grid-area: icons;
  margin: 0 auto;
}

/* Icons */
#logo-github,
#logo-linkedin,
#logo-cv {
  margin-top: 5px;
  width: 40px;
  height: 40px;
  padding-left: 10px;
}

/* Iconos SVG  */
.nav__toggle #openMenu,
#closeMenu {
  width: 30px;
  height: 30px;
}

/* ocultar checkbox e iconos svg  */
#openMenu,
#closeMenu,
#nav_checkbox {
  display: none;
}

.nav {
  grid-area: nav;
}

.container-4 {
  display: grid;
  grid-area: container-4;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  /* Hice la separación desde aca y no usando un padding. */
  grid-template-rows: 10px 1fr 10px;
}

.nav__menuElements {
  justify-content: space-between;
  font-size: 1.3rem;
}

.itemsElements {
  text-decoration: none;
  list-style: none;
  display: flex;
}

.links {
  color: var(--black);
  width: 100%;
}

.btn1,
.btn2,
.btn3,
.btn4 {
  font-family: 'iA Writer Mono', monospace;
  text-decoration-thickness: 0.2ex;
  text-underline-offset: 0.5ex;
  text-decoration-color: var(--black);
  cursor: pointer;
  color: var(--gray);
}

.btn1:hover,
.btn3:hover {
  text-decoration-color: var(--black);
}

.btn2:hover,
.btn4:hover {
  text-decoration-color: var(--pink);
}

.container-5 {
  display: grid;
  grid-area: container-5;
  margin-top: 10px;
  max-width: 100%;
}

/* Texto párrafo. */
.container-5 p {
  font-family: 'iA Writer Mono', monospace;
  font-size: 1.4rem;
  text-align: justify;
  /* separación de texto */
  line-height: 1.8rem;
}

.separator {
  display: grid;
  grid-area: separator;
  position: relative;
  margin-top: 20px;
  height: 0;
  width: 15vmin;
  border-top: 3px solid black;
  margin: 0 auto;
  /* padding-bottom: 20px; */
}

.footer {
  text-align: center;
  display: grid;
  grid-area: footer;
}

.footer-content {

  justify-content: center;
  column-gap: 8px;
}

.text-content {
  padding: 10px;
}

#textName {
  font-size: 1.4rem;
  font-family: 'iA Writer Mono', monospace;
  text-transform: uppercase;
}

/* responsive */
/* 34.375rem = 550px */
/* @media (width <=34.375rem) { */
/* TODO:Cambiar posición de estos elementos. */
@media (width <=29.25rem) {
  .container {
    width: 100%;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 130px 100px 1fr auto;
  }

  /* Menú */
  .container-4 {
    flex-direction: row;
    top: 30px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  /* TODO: cambiar posición de los elementos del header section */
  .header-section {
    grid-template-rows: 1fr auto;
    grid-template-areas: "profile-photo profile-photo icons"
      "title title title"
      "subTitle subTitle subTitle";
    margin: 0;
  }


  .icons {
    position: absolute;
  }

  /* Elementos del menú */
  ul.itemsElements {
    display: none;
    list-style-type: none;

  }

  /* Espacio donde se guardan los iconos */
  .nav__toggle {
    cursor: pointer;
    left: 0px;
    padding: 0px;
    top: 0px;
    position: absolute;
  }

  .nav__menuElements:last-child {
    justify-content: center;
  }

  /* mostrar svg hamburger */
  .nav__toggle #openMenu {
    display: block;
    cursor: pointer;
    position: relative;
  }

  #nav_checkbox:checked~label.nav__toggle .close {
    display: block;
  }

  #nav_checkbox:checked~.nav__menuElements ul.itemsElements {
    display: block;
  }

  #nav_checkbox:checked~label.nav__toggle .menu {
    display: none;
  }

  .profile-photo {
    padding: 0px;
    align-items: center;
  }

  .profile-photo img {
    width: 100px;
    height: 100px;
    margin: 10px;
  }

  .header-section {
    margin: 10px auto;
  }

  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    font-size: 1.0rem;
  }


}