/* html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
} */

:root{
  --background: #dadbdce3;
  --black: #000000;
  --gray: #a4a4a4;
  --yellow: #ffff00;
  --pink: #eb4888;
  --blue: #10A2F4;

}

body{
  background-color: var(--background);
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.container{
  max-width: 650px;
  margin: 60px auto;
}

.header-section{
  display: grid;
  grid-template-columns: repeat(2,auto);
}

.header-title{

}

#title{
  font-size: 2.8rem;
  color: var(--black);
  font-family: Hack Nerd Font;

}

#sub-title{
  font-family: Hack Nerd Font;
  font-size: 1.4rem;
  font-style: italic;
  color: var(--gray);
  text-align: left;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.links{
  border: 1px var(--black) solid;
  margin: 15px;
}

.links a{
  font-family: Hack Nerd Font;
  text-decoration-thickness: 0.3ex;
  text-underline-offset: 0.3ex;
  color: var(--black);
  cursor: pointer;
}

.container-4 #menu ul {
  text-decoration: none;
  list-style: none;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}

.btn1, .btn2, .btn3, .btn4 {
  font-size: 1rem;
  background: transparent;
  border-radius: 15px;
  box-sizing: border-box;
  transition: 0.4s ease all;
  width: 135px;
  height: 25px;
}

.container-4 #menu a button{
  text-decoration: none;
  color: var(--black);
  font-family: Hack Nerd Font;
}

.item-2, .item-4{
  color: var(--gray);
}

/* Texto párrafo. */
.container-5 p{
  border: 1px solid var(--black);
  font-family: Hack Nerd Font;
  font-size: 20px;
}

/* Fonts */
@font-face {
  font-family: Hack Nerd Font;
  src: url(../fonts/hack-nerd-font/HackNerdFont-Regular.ttf);
}


/* Tablets responsive */
@media screen and (max-width:600px) {
  body{
    background-color: var(--yellow);
  }

  .container-3 #menu{


  }
  .container-3 #menu ul li a {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    text-decoration: none;


  }

  .btn1, .btn2, .btn3, .btn4 {
    font-size: 0.7rem;
  }
}