body{
  background-color: #dadbdce3;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.container{
  max-width: 650px;
  margin: 100px auto;
  padding: 3px;
}

.header-section{
  display: grid;
  grid-template-columns: repeat(2,auto);
}

.header-title{

}

#title{
  font-size: 2.8rem;
  color: black;
  font-family: Hack Nerd Font;

}

#sub-title{
  font-family: Hack Nerd Font;
  font-size: 1.4rem;
  font-style: italic;
  color: gray;
  text-align: left;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.container-3{
  /* text-align: center; */
}

.container-3 #menu ul li{
  text-decoration: none;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-3 #menu a{
  text-decoration: none;
  font-style: oblique;
  font-size: 1.2rem;
  color: black;
  font-family: Hack Nerd Font;
}

.container-3 .item-2, .item-4{
  color: gray;
}


@font-face {
  font-family: Hack Nerd Font;
  src: url(../fonts/hack-nerd-font/HackNerdFont-Regular.ttf);
}


/* Tablets responsive */
@media screen and (max-width:600px) {
  body{
    background-color: yellow;
  }

  .container-3 #menu{
    text-align: left;
    padding: 5px 1px;
  }
  .container-3 #menu ul li a{
    /* border: 10px solid black; */
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    grid-template-rows: auto;
  }
}