body{
  background-color: #dadbdce3;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.container{
  max-width: 650px;
  margin: 100px auto;
  padding: 5px;
  border: 1px solid black;
  display: grid;
}

.header-section{
text-align: left;
display: inline-flex;
}

.header-title{
  max-width: 350px;
  justify-content: start;
  display: inline-flex;
}

#title{
  font-size: 2.2rem;
  color: black;
  font-family: Hack Nerd Font;
  border: 10px black solid;
}

#sub-title{
  font-family: Hack Nerd Font;
  font-size: 1.4rem;
  font-style: italic;
  color: gray;
  border: 10px yellow solid;
  text-align: left;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.container-3{
  text-align: center;
}

.container-3 #menu ul li{

  text-decoration: none;
  list-style: none;
  display: inline;
}

.container-3 #menu a{

  text-decoration: none;
  font-style: oblique;
  font-size: 1rem;
}




@font-face {
  font-family: Hack Nerd Font;
  src: url(../fonts/hack-nerd-font/HackNerdFont-Regular.ttf);
}


/* Tablets responsive */
@media screen and (max-width:600px) {
  body{
    background-color: yellow;
  }

  .container-3 #menu{
    text-align: left;
    padding: 5px 1px;
  }
  .container-3 #menu ul li a{
    /* border: 10px solid black; */
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    grid-template-rows: auto;
  }
}